body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      }
header {
       background-color: #008011;
       color: white;
       text-align: center;
       padding: 20px;
        }
nav {
     background-color: #9bac00;
     color: white;
     text-align: center;
     }
nav ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
        }
nav a {
       color: #fff;
       text-decoration: none;
       }
section {
        padding: 20px;
        }
footer {
        background-color: #25c861;
        color: white;
        text-align: center;
        padding: 10px;
        }