h1{
background-color: white;
}
body{
background-color:grey;
}
.a{
background-color:aqua;
width: 70%
}
#p1{
background-color:aqua;
width: 30%;
}
img{
height: 25%;
width: 25%; 
opacity: 0.5;
}